* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

*:hover {
	-o-transition:.2s;
  	-ms-transition:.2s;
  	-moz-transition:.2s;
  	-webkit-transition:.2s;
  	transition:.2s;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}



@font-face {
	/*from inside 'css' folder*/
    font-family: 'papiersansreg';
    src: url('../fonts/papier-sans-regular/papiersansregular.eot');
    src: url('../fonts/papier-sans-regular/papiersansregular.eot') format('embedded-opentype'),
         url('../fonts/papier-sans-regular/papiersansregular.woff') format('woff'),
         url('../fonts/papier-sans-regular/papiersansregular.ttf') format('truetype'),
         url('../fonts/papier-sans-regular/papiersansregular.svg#PApierSansRegular') format('svg');
}

@font-face {
	font-family: 'oreganoreg';
	    src: url('../fonts/oregano-regular/oregano-regular.eot');
	    src: url('../fonts/oregano-regular/oregano-regular.eot') format('embedded-opentype'),
	         url('../fonts/oregano-regular/oregano-regular.woff') format('woff'),
	         url('../fonts/oregano-regular/oregano-regular.ttf') format('truetype'),
	         url('../fonts/oregano-regular/oregano-regular.svg#OreganoRegular') format('svg');
}


body {
	font-family: papiersansreg, serif;
	color: #00B9A3;
	font-size: 1.25em;
}

#container {
  max-width: 1060px;
  margin: auto;
}



/*HEADER-------------------------------------*/

header {
	padding: .5em;
}

header #logo {
	float: left;
	margin-right:.5em;
	height: 4em;
}

header #banner-text {
	float:left;
	text-align: left;
	display: inline-block;

}

header h1 {
	display: inline-block;
	font-family: oreganoreg, serif;
	font-size: 3em;
}

header h2 {
	display: inline-block;
	font-size: 1.6em;
	text-align: left;
	color: #FB933A;
	width: inherit;
	line-height: 80%;
	text-transform: uppercase;
}

header nav {
	display: inline-block;
	float: right;
}

nav ul li a {
	display: inline-block;
	padding: 1em 1.5em;
	text-decoration: none;
	color: #00B9A3;
	/* border-radius: 5px; */
	-o-transition:.1s;
  	-ms-transition:.1s;
  	-moz-transition:.1s;
  	-webkit-transition:.1s;
  	transition:.1s;
}

nav ul li a:hover {
	
	/* background-color: #FB933A; */
	/* color: #FFF; */
	padding-bottom: .5em;
  border-bottom: .25em solid #00B9A3;
  color: #FB933A;
}

#current-page a{
  	text-decoration: none;
    background-color: #FFF;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #999;
    padding-bottom: none;
  border-bottom: none;
}

#current-page a:hover{
    color: #EEE;
    
}

#nav-button {
	display: none;
}

/*FOOTER-------------------------------------*/



footer {
	padding: .5em .5em;
	margin-top: 1em;
}

#social-links {
	float: left;
}

#social-links a {
	opacity: 0.5;
	-o-transition:.25s;
  	-ms-transition:.25s;
  	-moz-transition:.25s;
  	-webkit-transition:.25s;
  	transition:.25s;
}

#social-links a:hover {
	opacity: 1;
}
footer p {
	color: #DDD;
	font-size: .75em;
	height: .75em;
	vertical-align: text-bottom;
	display: inline-block;
	float: right;
}

footer p a:hover {
	color: #FB933A;
}


/*PICTURE AREA----------------------------------*/

#pics {
	margin-top: 2em;
	width: 100%;
}

.pic {
	width: 33%;
  cursor: pointer;
}

.pic:hover  {
	/*cursor: pointer;*/
}

.pic img {
	width: 100%;
  border-radius: 3px;
	border: 1px solid #f7f7f7;
}

#image-wrapper {
  width: 100%;
  }

#big-image {
  display: block;
	margin: 0 auto;
	max-width: 100%;
  border-radius: 3px;
	border: 1px solid #f7f7f7;
}

.pic-hover {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFF;

	opacity: 0.0;
	color: #999;
	text-align: center;	font-size: 2em;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition:.5s;
}

.pic-hover span {
    text-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.pic:hover .pic-hover {
	opacity: 0.8;
}

.pr-box:hover .pic-hover {
	opacity: 0.8;
}

.grid-sizer { width: 80%; }


/*Carousel----------------------------------*/

#carousel {
	/*float: left;*/
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(200,200,200, 0.7);
	text-align: center;
	top: 0;
	left: 0;
}

#carousel img {
	display: inline;
	max-width: 90%;
	max-height: 90%;
	margin-top: 2.5%;
	padding: .5%;
	background-color: #FFF;
	border-radius: 3px;
	clear: both;
}

	/*carousel buttons--------------*/

#right-button {
	display: inline-block;
	position: absolute;
	color: #FB933A;
	top:45%;
	right: 1%;
	float: right;
	opacity: 0.5;
}

#left-button {
	display: inline-block;
	position:absolute;
	left: 1%;
	top:45%;
	float: left;
	color: #FB933A;
	opacity: 0.5;
}

#close-button {
	float: right;
	color: #AAA;
	display: inline-block;
	padding: 1.5%;
	opacity: 0.5;
}

#left-button:hover, #right-button:hover, #close-button:hover {
		opacity: 1;
		cursor: pointer;
		-o-transition:.2s;
  		-ms-transition:.2s;
  		-moz-transition:.2s;
  		-webkit-transition:.2s;
  		transition:.2s;
	}


/*Project home page---------------------------*/

#pr-page-box {
	width: 100%;
	margin-top: 3em;
}

.pr-box {/*
	margin: .25em;
	width: 48%;
	display: inline-block;
	background-color: #EEE;
	padding: 2%;
	border-radius: 5px;
	height: 250px;
	text-decoration: none;
	font-size: 1em;
	color: #999;
	float: left;
*/
  display: block;
  float: left;
  position: relative;
  width: 250px;
  height: 250px;
  margin: 7px;
}

.pr-box img {
	width: 100%;
  border-radius: 3px;
	border: 1px solid #f7f7f7;
}




/*Project pages-----------------------------*/

.pr-desc h1 {
	text-align: center;
	margin: .4em 0;
	font-family: oreganoreg;
	font-size: 1.3em;

}

.pr-desc {
	padding: 0 24%;
	color: #AAA;
	text-align: center;
	margin-top: 2em;
}

/*CONTACT-------------------*/


#contact {
	padding: none;
	color: #AAA;
	margin-top: 2em;
	max-width: 
}

#contact-wrapper {
display:block;
}

#contact-image { 
display: block; 
width:33%;
float: left;
}

#contact-info {
display: block; 
width: 66%;
min-width: 500px;
padding: 6% 2%;
float: left;
}

#contact p {
	padding: 1em 0;
	line-height: 1.25em;
}

#contact p a {
	color: #00B9A3;
	text-decoration: none;
}

#contact-social {
padding-top: 10px;
clear: left;
}

#contact-social li a{
	display: inline-block;
	width: 24.6%;
	margin-bottom: 200px;
	text-decoration: none;
	color: #FFF;
	background-color: #CCC;
	font-size: 2em;
	text-align: center;
	padding: 10px 0;
}

#contact a:hover{
	color: #FB933A;
	/*text-decoration: underline;*/
}

#contact-social a:hover{
	background-color: #00B9A3;
	text-decoration: none;
	color: #FFF;
}

/*#contact-social li a img{
	height: 100%;
	width: 100%;
}*/

#mason {
	display: block;
}




/*MOBILE--------------------------*/
/*--------------------------------*/


@media screen and (max-width: 640px) {

header {
	font-size: .6em;
	text-align: center;
}

header #banner-text {
	float: none;
	display: inline-block;
	margin-right: 1em;
}

header #logo {
	display: none;
}

#nav-button {
	text-align: left;
	display: inline-block;
	font-size: 4em;
	/*color: #DDD;*/
}

header h1 {
	font-size: 4em;
}

header h2 {
	display: none;
}

header nav {
	display: none;
	float: none;
	text-align: center;
	padding-top: 1em;
}

header nav ul {

}

nav li {
	display: block;
	float: none;
	text-align: center;
	width: 100%;
	font-size: 2em;
}

nav li a {
	width: 100%;
}




.pr-box {
	width: 100%;
	font-size: 14px;
}



.pic {
	width: 100%;
}


#carousel {
	background-color: #DDD;
}

#left-button {
	top: auto;
	bottom: 1%;
	/*opacity: 1;*/
}

#right-button {
	top: auto;
	bottom: 1%;
	/*opacity: 1;*/
}

#close-button {
	position: absolute;
	bottom: 1%;
	left: 40%;
	font-size: 4em;
	/*opacity: 1;*/
}

#contact-social li a {
	display: block;
	width: 100%;
	margin-bottom: .1em;
}



}


